#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.decks {
  display: grid;
  margin: 0 auto; 
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
}

.decks li {
  display: block;
  height: 130px;
  border: 1px solid red;
}
